TobacoBackend/.vs/TobacoBackend/FileContentIndex/64a0a76d-657e-4624-ba21-c2118101ff9b.vsidx
TobacoBackend/.vs/TobacoBackend/FileContentIndex/2ab42c3b-14f8-4ee1-9cf3-bcf27a99f132.vsidx
TobacoBackend/.vs/TobacoBackend/FileContentIndex/d9f44aea-957f-44f2-b000-36c78d09cfde.vsidx
TobacoBackend/.vs/TobacoBackend/FileContentIndex/b9638b6f-c054-4de0-847d-5e9fa458082a.vsidx
TobacoBackend/.vs/TobacoBackend/FileContentIndex/a5271ae3-0f0b-49bf-963e-4efb227b5688.vsidx
TobacoBackend/.vs/TobacoBackend/CopilotIndices/17.14.1147.5054/CodeChunks.db-shm
*.db
TobacoBackend/.vs/TobacoBackend/FileContentIndex/b9638b6f-c054-4de0-847d-5e9fa458082a.vsidx
TobacoBackend/.vs/TobacoBackend/FileContentIndex/2ab42c3b-14f8-4ee1-9cf3-bcf27a99f132.vsidx
TobacoBackend/.vs/TobacoBackend/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-wal
TobacoBackend/.vs/TobacoBackend/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-shm
TobacoBackend/.vs/TobacoBackend/CopilotIndices/17.14.1147.5054/CodeChunks.db-wal
TobacoBackend/.vs/TobacoBackend/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
TobacoBackend/.vs/TobacoBackend/CopilotIndices/17.14.1147.5054/CodeChunks.db-shm
TobacoBackend/.vs/TobacoBackend/CopilotIndices/17.14.1147.5054/CodeChunks.db
